.gameboard {
	background: url("../../resources/images/GameBoard_empty2.png");
/* 	background: blue; */
/* 	background-size: 620px 570px; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 575px;
	width: 800px;
	position: relative;
}

.token-disabled {
	color: #3498db;
}
a {
	position: relative;
	display: inline;
}
a:after {
	content:attr(title);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	bottom:100%;
	white-space:nowrap;
	-webkit-transition:0.25s linear opacity;

}
a:hover:after {
	left:5px;
	opacity:1;	
}

.abs {
	position: absolute;
}

ul, li {
	list-style-type: none;
/*     list-style-position:inside; */
    margin: 1px;
    padding:0;
}

#study {
/* 	background-color: yellow; */
	height: 75px;
	width: 100px;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 40px;
	left: 100px;
}

#hall {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 30px;
	left: 330px;
}
#lounge {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 30px;
	left: 555px
}
#library {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 240px;
	left: 95px;
}
#billiard {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 260px;
	left: 330px;
}
#dining {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 240px;
	left: 555px;
}
#conservatory {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 500px;
	left: 95px;
}
#ballroom {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 440px;
	left: 330px;
}
#kitchen {
	height: 75px;
	width: 100px;
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 480px;
	left: 555px;
}
#hwy1{

 	top: 60px;
	left: 273px;
 }
 
#hwy2{
 	top: 60px;
	left: 500px;
 }
 
#hwy6{
 	top: 270px;
	left: 273px;
 }
 
#hwy7{
 	top: 270px;
	left: 500px;
 }
 
#hwy11{
	top: 495px;
	left: 273px;
}
#hwy12{
	top: 495px;
	left: 500px;
}

#hwy3 {
	top: 170px;
	left: 160px;
	
}
#hwy4 {
	top: 170px;
	left: 387px;
	
}
#hwy5 {
	top: 170px;
	left: 615px;
	
}

#hwy8 {
	top: 380px;
	left: 160px;
	
}

#hwy9 {
	top: 380px;
	left: 387px;
	
}
#hwy10 {
	top: 380px;
	left: 615px;
	
}
.scarlet:before {
 	content: url("../../resources/images/Scarlet_small.png");

 }

li.scarlet:hover:after {
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #1E5799;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "Ms. Scarlet";
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 40px;
    bottom: 100%;
  
}
li.green:hover:after {
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #1E5799;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "Mr. Green";
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 40px;
    bottom: 100%;
}
li.plum:hover:after {
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #1E5799;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "Prof. Plum";
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 40px;
    bottom: 100%;
}

li.white:hover:after {
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #1E5799;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "Mrs. White";
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 40px;
    bottom: 100%;
}
li.mustard:hover:after {
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #1E5799;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "Col. Mustard";
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 50px;
    bottom: 100%;
}
li.peacock:hover:after {
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #1E5799;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "Mrs. Peacock";
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 50px;
    bottom: 100%;
}

.mustard:before {
	content: url("../../resources/images/Mustard_small.png");
}

.green:before {
	content: url("../../resources/images/Green_small.png");
}

.white:before {
	content: url("../../resources/images/White_small.png");
}

.plum:before {
	content: url("../../resources/images/Plum_small.png");
}

.peacock:before {
	content: url("../../resources/images/Peacock_small.png");
}